/* main common rules ============================== */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* bendro naudojimo konteineris centruori kontenta */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header styles =========================== */

header {
  color: snow;
  background-color: tomato;
}

.nav-link {
  padding: 8px 16px;
  display: inline-block;
}
.nav-link:hover {
  background-color: snow;
  color: black;
}

.active-link {
  background-color: snow;
  color: black;
}

/* HERO section =========================== */

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: tomato;
  color: white;
}

h1 {
  line-height: 1;
  font-weight: normal;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Inkaras section */

.ink {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-block {
  max-width: 65%;
  display: inline-block;
}
.ink-img {
  display: inline-block;
  max-height: 200px;
  vertical-align: top;
  margin-top: 80px;
  margin-left: 35px;
  border-radius: 10px;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 30px;
}

.text-small {
  font-size: 14px;
  color: rgb(120, 120, 120);
}

/* Coffe section ========================== */
.coffe {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(211, 211, 211);
}

.coffe-img {
  max-height: 100px;
  margin-left: 0;
  margin-right: 20px;
}

/* FOOTER ============================ */

footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-social {
  padding-left: 0;
  list-style: none;
}
.social-li {
  display: inline-block;
}
